* {
  font-family: sans-serif;
  color: white;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vw;
}

ul, ol, li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}