.header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background-color: black;
}

.main {
  width: 70%;
  height: 75vh;
  margin: auto;
  border-radius: 8px;
  background-color: greenyellow;
}

.footer {
  height: 150px;
  background-color: black;
}
